:host {
  --color-bg-default: #fff;
  --color-bg-secondary: #fff;
  --color-fg-default: #333;
  --color-fg-primary: #1A3129;
  --color-fg-secondary: #748194;
  --color-fg-selected: #fff;
  --color-fg-muted: #9e9e9e;
  --color-fg-accent: #1A3129;
  --color-btn-primary-bg: #fff;
  --color-btn-primary-fg: #1A3129;
  --color-btn-primary-border: #1A3129;
  --color-btn-primary-hover-bg: #1A3129;
  --color-btn-primary-hover-fg: #fff;
  --color-btn-primary-hover-border: #1A3129;
  --color-btn-primary-disabled-bg: #a2b0ff;
  --color-btn-primary-disabled-fg: #fff;
  --color-btn-primary-disabled-border: #a2b0ff;
  --color-btn-secondary-bg: #fff;
  --color-btn-secondary-fg: #748194;
  --color-btn-secondary-border: #748194;
  --color-btn-secondary-hover-bg: #748194;
  --color-btn-secondary-hover-fg: #fff;
  --color-btn-secondary-hover-border: #748194;
  --color-btn-secondary-disabled-bg: #b5bbc4;
  --color-btn-secondary-disabled-fg: #fff;
  --color-btn-secondary-disabled-border: #b5bbc4;
  --color-border-default: #ddd;
  --day-width: 42px;
  --day-height: 37px;
  --border-radius: 0; /* Flat corners */
  --primary-color: #1A3129;
}

.calendar > .days-grid > .day {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  height: var(--day-height);
  width: var(--day-width);
  padding: 10px 0;
  color: var(--color-fg-default);
}

.calendar > .days-grid > .day:hover {
  border: 1px solid var(--color-fg-primary);
  color: var(--color-fg-primary);
}

.calendar > .days-grid > .day.selected {
  background-color: var(--color-fg-primary);
  color: var(--color-fg-selected);
}

.calendar > .daynames-row > .dayname {
  color: var(--color-fg-muted);
}

.container > main {
  background-color: var(--color-bg-default);
}

.container > header, .container > footer {
  background-color: var(--color-bg-secondary);
}