:host {
  --color-bg-default: #fff;
  --color-bg-secondary: #f9f9f9;
  --color-fg-default: #333;
  --color-fg-primary: #fff;
  --color-fg-secondary: #748194;
  --color-fg-selected: #fff;
  --color-fg-muted: #9e9e9e;
  --color-fg-accent: #1A3129;
  --color-btn-primary-bg: #fff;
  --color-btn-primary-fg: #1A3129;
  --color-btn-primary-border: #1A3129;
  --color-btn-primary-hover-bg: #1A3129;
  --color-btn-primary-hover-fg: #fff;
  --color-btn-primary-hover-border: #1A3129;
  --color-btn-primary-disabled-bg: #a2b0ff;
  --color-btn-primary-disabled-fg: #fff;
  --color-btn-primary-disabled-border: #a2b0ff;
  --color-btn-secondary-bg: #fff;
  --color-btn-secondary-fg: #748194;
  --color-btn-secondary-border: #748194;
  --color-btn-secondary-hover-bg: #748194;
  --color-btn-secondary-hover-fg: #fff;
  --color-btn-secondary-hover-border: #748194;
  --color-btn-secondary-disabled-bg: #b5bbc4;
  --color-btn-secondary-disabled-fg: #fff;
  --color-btn-secondary-disabled-border: #b5bbc4;
  --color-border-default: #ddd;
  --color-border-locked: #f9f9f9;
  --color-bg-inrange: #749B8E; /* Custom background color for in-range selection */
  --day-width: 42px;
  --day-height: 37px;
  --border-radius: 0px;
}

.calendar > .days-grid > .day.inrange {
  background-color: var(--color-bg-inrange); /* Apply in-range background color */
}

.container.range-plugin .calendar > .days-grid > .day.start,
.container.range-plugin .calendar > .days-grid > .day.end {
  background-color: var(--color-fg-primary); /* Customize start and end colors */
  color: var(--color-fg-selected); /* Text color for start and end days */
  border-radius: var(--border-radius); /* Ensure consistent styling */
}